version: '3.9'

services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: dbtodo
    ports:
      - "3306:3306"
    networks:
      - todo-net
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  web:
    build: .
    container_name: flask-todo
    environment:
      DB_USER: root
      DB_PASSWORD: 12345
      DB_HOST: mysql
      DB_NAME: dbtodo
      FLASK_ENV: development
    ports:
      - "5000:5000"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - todo-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  test:
    build:
      context: .
      dockerfile: test.Dockerfile
    container_name: flask-test
    depends_on:
      web:
        condition: service_healthy
    networks:
      - todo-net

networks:
  todo-net:
    driver: bridge

volumes:
  db_data:
