name: Docker Compose Test


on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
  
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Run docker compose
      run: docker compose up --build --abort-on-container-exit


    - name: Show logs if failed
      if: failure()
      run: docker compose logs
